.btn1 {
    background:#000;
    color: #fff;
    border-radius: 10px;
    padding: 2px;
    width: 200px;
    height: 50px;
    margin-right: auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn1 a {
    color: #fff;
    text-decoration: none;
}

.btn1:hover {
    background: #7b7b7b;
    transform:translateY(4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.btn1:focus {
    background: #4a4a4a;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.btn1:active {
    background: #3a3a3a;
    transform: translateY(2px) scale(0.95);
}


.btn2 {
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 2px;
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn2 a {
    color: #fff;
    text-decoration: none;
}

.btn2:hover {
    background: #7b7b7b;
    transform:translateY(4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.btn2:focus {
    background: #4a4a4a;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.btn2:active {
    background: #3a3a3a;
    transform: translateY(2px) scale(0.95);
}


.btn3 {
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 2px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn3 a {
    color: #fff;
    text-decoration: none;
}

.btn3:hover {
    background: #7b7b7b;
    transform:translateY(4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.btn3:focus {
    background: #4a4a4a;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.btn3:active {
    background: #3a3a3a;
    transform: translateY(2px) scale(0.95);
}

.tit {
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-top: 100px;
}

.rsm {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-top: 50px;
}

section {
    margin-top: 50px;
}